### Data Exploration Using Pandas

In [9]:
import pandas as pd
import requests
import warnings
warnings.filterwarnings('ignore')

**Importing all libraries**

In [2]:
# Reading the csv into pandas
file_path = "./Resources/Datafiniti_Pizza_Restaurants_and_the_Pizza_They_Sell_May19.csv"
pizza_data_raw = pd.read_csv(file_path)

In [3]:
# Reviewing the pandas dataframe
pizza_data_raw.head(5)

,id,dateAdded,dateUpdated,address,categories,primaryCategories,city,country,keys,latitude,...,menus.currency,menus.dateSeen,menus.description,menus.name,name,postalCode,priceRangeCurrency,priceRangeMin,priceRangeMax,province
0,AVz3Y-7h3D1zeR_xDAqm,2017-06-30T05:05:40Z,2019-05-01T15:43:09Z,4203 E Kiehl Ave,"Pizza,Restaurant,American restaurants,Pizza Pl...",Accommodation & Food Services,Sherwood,US,us/ar/sherwood/4203ekiehlave/-1051391616,34.832300,...,USD,"2018-05-01T04:25:37.197Z,2018-04-16T04:36:02.3...",NaN,Cheese Pizza,Shotgun Dans Pizza,72120,USD,0,25,AR
1,AVweGPFF_7pvs4fzAAzQ,2016-04-02T04:02:49Z,2019-05-01T15:27:50Z,25 E Camelback Rd,"Pizza,Pizza Place,Restaurants",Accommodation & Food Services,Phoenix,US,us/az/phoenix/25ecamelbackrd/-727422936,33.509266,...,USD,"2018-03-03T02:38:06.381Z,2018-01-18T20:18:10.0...",NaN,Pizza Cookie,Sauce Pizza Wine,85012,USD,0,25,AZ
2,AVwdRGa9_7pvs4fz4E3K,2016-03-03T18:39:49Z,2019-05-01T12:52:25Z,3703 Paxton Ave,"Restaurant,Pizza Place,Restaurants",Accommodation & Food Services,Cincinnati,US,us/oh/cincinnati/3703paxtonave/-619797122,39.144883,...,USD,"2018-04-10T07:58:34.585Z,2018-04-21T05:43:21.4...",a saucelessampcomma double cheese pizza with a...,Pizza Blanca,Mios Pizzeria,45209,USD,0,25,OH
3,AVwdX4psIN2L1WUfvJB1,2016-03-29T05:08:59Z,2019-05-01T12:52:20Z,30495 John R Rd,"Pizza,Carry-out food,Pizza Place,Restaurants",Accommodation & Food Services,Madison Heights,US,us/mi/madisonheights/30495johnrrd/-874863116,42.516669,...,USD,"2016-10-20T21:50:02Z,2016-03-29T05:08:59Z",NaN,Small Pizza,Hungry Howies Pizza,48071,USD,25,40,MI
4,AVwdaeTtkufWRAb55pSH,2016-03-31T02:34:04Z,2019-05-01T12:50:45Z,3600 Eastern Ave,"Pizza,American restaurants,Pizza Place,Pizza e...",Accommodation & Food Services,Baltimore,US,us/md/baltimore/3600easternave/-1270965359,39.286630,...,USD,2016-03-31T02:34:04Z,NaN,Pizza Sub,Spartan Pizzeria,21224,USD,0,25,MD

In [198]:
pizza_data_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 24 columns):
id                    10000 non-null object
dateAdded             10000 non-null object
dateUpdated           10000 non-null object
address               10000 non-null object
categories            10000 non-null object
primaryCategories     10000 non-null object
city                  10000 non-null object
country               10000 non-null object
keys                  10000 non-null object
latitude              10000 non-null float64
longitude             10000 non-null float64
menuPageURL           1679 non-null object
menus.amountMax       10000 non-null float64
menus.amountMin       10000 non-null float64
menus.currency        10000 non-null object
menus.dateSeen        10000 non-null object
menus.description     3718 non-null object
menus.name            10000 non-null object
name                  10000 non-null object
postalCode            9996 non-null object
priceRangeCurrency    10000 non-null object
priceRangeMin         10000 non-null int64
priceRangeMax         10000 non-null int64
province              10000 non-null object
dtypes: float64(4), int64(2), object(18)
memory usage: 1.8+ MB

In [4]:
pizza_data_raw.columns

Index(['id', 'dateAdded', 'dateUpdated', 'address', 'categories',
       'primaryCategories', 'city', 'country', 'keys', 'latitude', 'longitude',
       'menuPageURL', 'menus.amountMax', 'menus.amountMin', 'menus.currency',
       'menus.dateSeen', 'menus.description', 'menus.name', 'name',
       'postalCode', 'priceRangeCurrency', 'priceRangeMin', 'priceRangeMax',
       'province'],
      dtype='object')

The type possible questions we are trying to analyze using this dataset are?

_1)How many different types of pizzas are available?_

_2)How many pizza restaurants are available?_

_3)Which is the cheapest type of pizza sold?_

_4)Which is the most expensive pizza sold?_

_5)which provice has the maximum number of pizza restaurants?_

_6)Which city has the maximum number of restaurants?_

_7)Which is the cheapest and most expesive province for pizza?_

_8)Which is the cheapest and most expensive city for pizza?_

_9)Which is the most popular and leasr popular pizza?_

_10)Which all restaurant offer vegg pizzas based on description?_

_11)Which all categories of pizzas's are popular?_

**In order to answer the above questions, folowing columns will be selected**

**id, address, city, address, postalcode, country, latitude, longitude, menus.amountMax, menus.amountMin, menus.name, menus.dateSeen, menus.description,  province**

Note: Amount is in USD.
      This dataset peratins to pizza locations from USA only.

In [5]:
pizza_data_raw['categories'].value_counts().sort_values(ascending=False)[:5]

Restaurant,Pizza Place                      2690
Pizza Place                                 2209
Pizza,Restaurant,Pizza Place,Restaurants     370
Italian Restaurant,Pizza Place               312
Restaurant,Pizza Place,Restaurants           293
Name: categories, dtype: int64

### Data Cleaning

In [6]:
# Removing un-necessary columns
pizza_data_transformed = pizza_data_raw[['id', 'address', 'categories', 'city', 'postalCode', 'latitude', 'longitude', 'menus.amountMax', 'menus.amountMin', 'menus.name', 'menus.description', 'menus.dateSeen','province']]
pizza_data_transformed.head()

,id,address,categories,city,postalCode,latitude,longitude,menus.amountMax,menus.amountMin,menus.name,menus.description,menus.dateSeen,province
0,AVz3Y-7h3D1zeR_xDAqm,4203 E Kiehl Ave,"Pizza,Restaurant,American restaurants,Pizza Pl...",Sherwood,72120,34.832300,-92.183800,7.98,7.98,Cheese Pizza,NaN,"2018-05-01T04:25:37.197Z,2018-04-16T04:36:02.3...",AR
1,AVweGPFF_7pvs4fzAAzQ,25 E Camelback Rd,"Pizza,Pizza Place,Restaurants",Phoenix,85012,33.509266,-112.073044,6.00,6.00,Pizza Cookie,NaN,"2018-03-03T02:38:06.381Z,2018-01-18T20:18:10.0...",AZ
2,AVwdRGa9_7pvs4fz4E3K,3703 Paxton Ave,"Restaurant,Pizza Place,Restaurants",Cincinnati,45209,39.144883,-84.432685,6.49,6.49,Pizza Blanca,a saucelessampcomma double cheese pizza with a...,"2018-04-10T07:58:34.585Z,2018-04-21T05:43:21.4...",OH
3,AVwdX4psIN2L1WUfvJB1,30495 John R Rd,"Pizza,Carry-out food,Pizza Place,Restaurants",Madison Heights,48071,42.516669,-83.106630,5.99,5.99,Small Pizza,NaN,"2016-10-20T21:50:02Z,2016-03-29T05:08:59Z",MI
4,AVwdaeTtkufWRAb55pSH,3600 Eastern Ave,"Pizza,American restaurants,Pizza Place,Pizza e...",Baltimore,21224,39.286630,-76.566984,5.49,5.49,Pizza Sub,NaN,2016-03-31T02:34:04Z,MD

In [203]:
pizza_data_transformed.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 12 columns):
id                   10000 non-null object
address              10000 non-null object
categories           10000 non-null object
city                 10000 non-null object
postalCode           9996 non-null object
latitude             10000 non-null float64
longitude            10000 non-null float64
menus.amountMax      10000 non-null float64
menus.amountMin      10000 non-null float64
menus.name           10000 non-null object
menus.description    3718 non-null object
province             10000 non-null object
dtypes: float64(4), object(8)
memory usage: 937.6+ KB

In [28]:
# menus.description    3718 non-null object. Removing all records that has NaN values in menus.description.
pizza_data_transformed = pizza_data_transformed.dropna()
pizza_data_transformed.reset_index(drop=True, inplace=True)
pizza_data_transformed.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3717 entries, 0 to 3716
Data columns (total 13 columns):
id                   3717 non-null object
address              3717 non-null object
categories           3717 non-null object
city                 3717 non-null object
postalCode           3717 non-null object
latitude             3717 non-null float64
longitude            3717 non-null float64
menus.amountMax      3717 non-null float64
menus.amountMin      3717 non-null float64
menus.name           3717 non-null object
menus.description    3717 non-null object
menus.dateSeen       3717 non-null object
province             3717 non-null object
dtypes: float64(4), object(9)
memory usage: 377.6+ KB

In [29]:
pizza_data_transformed.head(1)

,id,address,categories,city,postalCode,latitude,longitude,menus.amountMax,menus.amountMin,menus.name,menus.description,menus.dateSeen,province
0,AVwdRGa9_7pvs4fz4E3K,3703 Paxton Ave,"Restaurant,Pizza Place,Restaurants",Cincinnati,45209,39.144883,-84.432685,6.49,6.49,Pizza Blanca,a saucelessampcomma double cheese pizza with a...,"2018-04-10T07:58:34.585Z,2018-04-21T05:43:21.4...",OH

In [30]:
# Capitalizing menus.description column.
pizza_data_transformed['menus.description'] = pizza_data_transformed['menus.description'].apply(lambda x: x.capitalize())
pizza_data_transformed['menus.description'][1]

'Prosciutto arugula and shaved parmesan drizzled with balsamic glaze'

In [31]:
# Converting the case of the menus.name column to Title case.
pizza_data_transformed['menus.name'] = pizza_data_transformed['menus.name'].apply(lambda x : x.title())
pizza_data_transformed['menus.name'].value_counts().sort_values(ascending=False)[:5]

White Pizza          50
Margherita Pizza     49
Bbq Chicken Pizza    49
Hawaiian Pizza       47
Veggie Pizza         39
Name: menus.name, dtype: int64

In [32]:
# Removing duplicated rows
pizza_data_transformed = pizza_data_transformed.drop_duplicates(keep='last')

In [33]:
# Checking for duplicated rows
pizza_data_transformed[pizza_data_transformed.duplicated()].count()

id                   0
address              0
categories           0
city                 0
postalCode           0
latitude             0
longitude            0
menus.amountMax      0
menus.amountMin      0
menus.name           0
menus.description    0
menus.dateSeen       0
province             0
dtype: int64

### Data Transforming

In [34]:
# Separating pizza_data and restaurant data into separate data frames
restaurant = pizza_data_transformed[['id','address', 'postalCode', 'latitude', 'longitude', 'city','province', 'categories']].drop_duplicates('id', keep='last').reset_index(drop=True)
restaurant.head()

,id,address,postalCode,latitude,longitude,city,province,categories
0,AVwdRGa9_7pvs4fz4E3K,3703 Paxton Ave,45209,39.144883,-84.432685,Cincinnati,OH,"Restaurant,Pizza Place,Restaurants"
1,AVwchRVZkufWRAb5wDIV,4061 28th St SE,49512,42.912878,-85.566939,Grand Rapids,MI,"Restaurant,Italian Restaurant,Pizza Place,Ital..."
2,AVwc7s1wIN2L1WUfqehD,146 N Glendora Ave,91741,34.137502,-117.865331,Glendora,CA,"Pizza,Restaurant,Pizza Place"
3,AVwc2xOokufWRAb5zu4_,965 N Resler Dr,79912,31.862409,-106.558431,El Paso,TX,"Restaurant,Pizza Place,Restaurants"
4,AVwdixeC_7pvs4fz67Pw,1584 N Woodland Blvd,32720,29.046703,-81.303817,DeLand,FL,"Restaurant,Pizza Place,Restaurants"

In [35]:
# Creating a pizza table keep unique records of restaurant id and menus.name
pizza = pizza_data_transformed[['id', 'menus.name', 'menus.description', 'menus.amountMax', 'menus.amountMin', 'menus.dateSeen']].drop_duplicates(['id','menus.name'],keep='last').reset_index(drop=True)

In [40]:
# Creating a new dataframe for storing other pizza details
pizza_details = pizza_data_transformed[['menus.name', 'menus.dateSeen']].drop_duplicates(keep='last').reset_index(drop=True)
pizza_details.rename()

In [37]:
# Renaming the columns for pizza
pizza = pizza.rename(columns={'id':'restaurant_id', 'menus.name':'pizza_name' \
                              , 'menus.description':'pizza_description', 'menus.amountMax': 'maximum_amount',
                              'menus.amountMin':'minimum_amount'})

In [20]:
# Writing transformed restaurant data to a csv
restaurant = restaurant.rename(columns={'postalCode': 'zip_code', 'province': 'state'})
restaurant.to_csv("./Resources/restaurant.csv", index=False)
restaurant.head()

,id,address,zip_code,latitude,longitude,city,state,categories
0,AVwdRGa9_7pvs4fz4E3K,3703 Paxton Ave,45209,39.144883,-84.432685,Cincinnati,OH,"Restaurant,Pizza Place,Restaurants"
1,AVwchRVZkufWRAb5wDIV,4061 28th St SE,49512,42.912878,-85.566939,Grand Rapids,MI,"Restaurant,Italian Restaurant,Pizza Place,Ital..."
2,AVwc7s1wIN2L1WUfqehD,146 N Glendora Ave,91741,34.137502,-117.865331,Glendora,CA,"Pizza,Restaurant,Pizza Place"
3,AVwc2xOokufWRAb5zu4_,965 N Resler Dr,79912,31.862409,-106.558431,El Paso,TX,"Restaurant,Pizza Place,Restaurants"
4,AVwdixeC_7pvs4fz67Pw,1584 N Woodland Blvd,32720,29.046703,-81.303817,DeLand,FL,"Restaurant,Pizza Place,Restaurants"

### Create database connection

In [ ]:
connection_string = "postgres:postgres@localhost:5432/customer_db"
engine = create_engine(f'postgresql://{connection_string}')